.AboutWrapper {
  color: white;
  justify-content: center;
  align-items: center;
}

.IntroWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.IntroductionWrapper {
  margin-top: 30px;
  display: block;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.SkillsBox {
  margin-top: 30px;
  margin-bottom: 20px;
}
