.ParticlesMainWrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: url(./pictures/code.png);
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
