.AppWrapper {
  background: rgb(0, 1, 57) !important;
  background: linear-gradient(
    90deg,
    rgba(0, 1, 57, 1) 20%,
    rgba(2, 159, 203, 1) 100%
  ) !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
